<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ position.name }}</title>
</head>
<body>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="flash-messages">
      <div class="alert">{{ messages[-1] }}</div>
    </div>
  {% endif %}
{% endwith %}

    <img src="/static/menu/{{position.file_name}}" width="400">
    <p>{{position.name}}  ({{position.weight}}гр)</p>
    <small>{{position.ingredients}}</small>
    <p>Опис:</p>
    <pre>{{position.description}}</pre>
    <p>{{position.price}} грн</p>

    <form method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
        <input type="hidden" name="name" value="{{position.name}}">
        <input type="number" name="num" placeholder="Кількість" required>
        <input type="submit" value="Додати до кошика">
    </form>
</body>
</html>